In [ ]:
1)A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
         SQL	NoSQL
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	Non-relational or distributed database system.
These databases have fixed or static or predefined schema	They have dynamic schema
These databases are not suited for hierarchical data storage.	These databases are best suited for hierarchical data storage.
These databases are best suited for complex queries	These databases are not so good for complex queries
Vertically Scalable	Horizontally scalable
Follows ACID property	Follows CAP(consistency, availability, partition tolerance)
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [ ]:
2)A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.
        CREATE TABLE
The CREATE TABLE command creates a new table in the database.

The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

ExampleGet your own SQL Server
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
CREATE TABLE Using Another Table
A copy of an existing table can also be created using CREATE TABLE.

The following SQL creates a new table called "TestTables" (which is a copy of the "Customers" table): 

ExampleGet your own SQL Server
CREATE TABLE TestTable AS
SELECT customername, contactname
FROM customers;
ALTER TABLE
The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.

The following SQL adds an "Email" column to the "Customers" table:

ExampleGet your own SQL Server
ALTER TABLE Customers
ADD Email varchar(255);
The following SQL deletes the "Email" column from the "Customers" table:

ExampleGet your own SQL Server
ALTER TABLE Customers
DROP COLUMN Email;
DROP TABLE
The DROP TABLE command deletes a table in the database.

The following SQL deletes the table "Shippers":

ExampleGet your own SQL Server
DROP TABLE Shippers;
Note: Be careful before deleting a table. Deleting a table results in loss of all information stored in the table!

TRUNCATE TABLE
The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

The following SQL truncates the table "Categories": 

ExampleGet your own SQL Server
TRUNCATE TABLE Categories;

In [ ]:
3)A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database.
       The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:

The INSERT statement introduces new rows into an existing table.
The DELETE statement removes a row or combination of rows from a table.
The UPDATE statement enables users to update a row or group of rows in a table.

In [ ]:
4)DQL is a portion of a SQL statement that allows you to get and organise data from a database.
       Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins.

In [ ]:
5)Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: Refer the figure – 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: Refer the figure – 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [ ]:
6)import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)
     Allows Python code to execute PostgreSQL command in a database session. Cursors are created by the connection.cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.
    execute() Method: This method executes the given database operation (query or command).